* {
  margin: 0;
  padding: 0;
}

/* header */
#header {
  border-bottom: 3px solid skyblue;
  padding-bottom: 10px;
}
#header .container {
  display: flex;
}

/* header - logo */
#header .container .logo {
  width: 100%;
  display: flex;
  align-items: center;
}
#header .container .logo .logo-image {
  margin: 5px;
  display: flex;
  align-items: center;
}
#header .container .logo .logo-image img {
  max-width: 50px;
}
#header .container .logo .logo-detail .logo-title {
  text-transform: capitalize;
  font-weight: bold;
}
#header .container .logo .logo-detail .logo-teks {
  font-size: 14px;
}

/* header - navigasi */
#header .container .navigasi {
  display: flex;
  justify-content: end;
  width: 30%;
}
#header .container .navigasi .navigasi-burger {
  margin: 5px;
  display: flex;
  align-items: center;
}
#header .container .navigasi .navigasi-burger i {
  border: 1px solid #a0a0a0;
  padding: 10px;
  border-radius: 3px;
}
#header .container .navigasi .navigasi-main {
  display: none;
}

/* slider */
#slider .mySlides {display: none}

#slider .slideshow-container {
  max-width: 100%;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
#slider .prev, #slider .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 12px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  background-color: rgba(0,0,0,0.8);
}

/* Position the "next button" to the right */
#slider .next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
#slider .prev:hover, #slider .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
#slider .text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}
#slider .active, #slider .dot:hover {
  background-color: #717171;
}
/* Fading animation */
#slider .fade {
  animation-name: fade;
  animation-duration: 1.5s;
}
@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* transaksi */
#transaksi {
  margin: 30px 10px 20px 10px;
}
#transaksi h3 {
  text-align: center;
  margin-bottom: 30px;
  text-transform: capitalize;
}

/* produk */
#produk {
  margin: 20px 10px;
}
#produk h3 {
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 20px;
}
#produk .container {
  margin-top: 20px;
  overflow: hidden;
}
/* Style the buttons */
#produk #myBtnContainer {
  margin-bottom: 20px;
  display: flex;
  justify-content: start;
  flex-wrap: wrap;  
}
#produk .btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: #ffffff;
  cursor: pointer;
  text-transform: capitalize;
}
#produk .btn:hover {
  background-color: #ddd;
}
#produk .btn.active {
  background-color: #666;
  color: white;
  border-radius: 10px 10px 0 0;
}
#produk .kategori {
  display: flex;
  flex-direction: column;
  width: 100%;
}
#produk .filterDiv {
  /* float: left; */
  /* background-color: #2196F3; */
  /* color: #ffffff; */
  /* width: 100px; */
  /* line-height: 100px; */
  text-align: center;
  margin: 2px;
  padding-bottom: 20px;
  display: none;
}
#produk .show {
  display: block;
}
#produk .container .kategori img {
  width: 100%;
}

/* blog */
#blog {
  margin: 10px;
}
#blog .blog-container h3 {
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 20px;
}
#blog .blog-container img {
  width: 100%;
}

/* blog - thumbnail */
#blog .blog-container .blog-thumbnail .title {
  margin: 10px 0;
}
#blog .blog-container .blog-thumbnail .title h6 {
  font-size: 18px;
}
#blog .blog-container .blog-thumbnail .tanggal p {
  font-size: 16px;
}
#blog .blog-container .blog-thumbnail .deskripsi p {
  text-align: justify;
  font-size: 17px;
}

/* blog - list */
#blog .blog-container .blog-list {
  margin: 20px 0;
  display: grid;
  column-gap: 10px;
  row-gap: 10px;
  grid-template-columns: auto auto;
}
#blog .blog-container .blog-list .list {
  width: 100%;
}
#blog .blog-container .blog-list .list .title {
  font-size: 17px;
  font-weight: bold;
}
#blog .blog-container .blog-list .list .tanggal {
  font-size: 16px;
}

/* why */
#why {
  margin: 10px;
}
#why .why-container h3 {
  text-align: center;
  text-transform: capitalize;
  margin-bottom: 20px;
}
#why .why-container .why-thumbnail img {
  width: 100%;
}
#why .why-container .why-list {
  display: grid;
  grid-template-columns: auto;
  margin-top: 50px;
}
#why .why-container .why-list .list {
  margin-bottom: 30px;
  text-align: center;
}
#why .why-container .why-list .list .image {
  margin-bottom: 20px;
}
#why .why-container .why-list .list .deskripsi .title p {
  font-weight: bold;
  text-transform: uppercase;
}
#why .why-container .why-list .list .deskripsi .keterangan {
  font-size: 17px;
}


/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  
}